navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #a048c9;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding-left: 50px;

}

.navbar-brand img {
  margin-right: 1rem;
}



.icon {
  font-size: 40px;
  color: white;
  padding-right: 0px 150px;
}

.spana {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 15px;
}

.spanb {
  font-size: 20px;
  font-family: 'Bree Serif', serif;


}

.main-cover-container {
  margin: 70px 18px;
  padding: 5px;
  width: 90%;
}

.main {
  margin: 0px;
  background-color: aliceblue;
  height: 400px;
}