.App {
  text-align: center;
}


.container {
  margin: 20px auto;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  padding: 50px 20px;
}

.heading{
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-decoration: none;
  outline: #777a7c;
  border: 0.1px solid #000
  }

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  flex: 1;
}
